<link rel="stylesheet" href="/css/footer.css">

<div id="card-container"
  class="card w-100 mt-5 footerBackground "
  style="position: fixed; left: 0; bottom: 0; width: 100%"
>
      <div>
      <a href="/" class="btn">HomePage</a>

      </div>
      <!-- <button type="button" class="btn btn-outline-light mx-5">Home</button> -->
    </footer>
  </div>
</div>